.buy-now-button{
    background-image: linear-gradient(to bottom,black 0%, black 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.see-all-button{
    color: coral;
}
.center{
    text-align: center;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    color: grey;
}
.card img{
    width: 250px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px whitesmoke;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.cat1{
    text-align: center;
}
#border-slice{
border-bottom: 7px solid;
border-image: linear-gradient( 100deg,orange,tomato);
border-image-slice: 1;

}
.container{
    margin-bottom: 100px;
}
.box{
    background-color: white;
    box-shadow: 5px 5px 10px whitesmoke;
    border-radius: 20px 2px 20px 2px;
    padding: 10px 30px;
    height: 250px;
    margin-bottom: 100px;
}
.img-width{
    width: 600px;
}